@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

a {
  color: #4285f4;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

.button {
  font-family: "Google Sans","Roboto",Arial,sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  line-height: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #1a73e8;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem 2.4rem 1.1rem;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-transition: background-color .2s,color .2s,-webkit-box-shadow .2s;
  transition: background-color .2s,color .2s,-webkit-box-shadow .2s;
  transition: background-color .2s,box-shadow .2s,color .2s;
  transition: background-color .2s,box-shadow .2s,color .2s,-webkit-box-shadow .2s;
}

.button:hover {
  background-color: #174ea6;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

header .header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-cont .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #5f6368;
  font-weight: 400;
}

header .header-cont .logo:hover span {
  color: #4285f4;
}

header .header-cont .logo img {
  width: 3rem;
  margin-right: 1rem;
}

header .header-cont nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

header .header-cont nav .h-trab {
  background-color: rgba(0, 0, 0, 0);
  color: #1a73e8;
}

header .header-cont nav .h-trab:hover {
  background-color: #f4f8fe;
  color: #174ea6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header-cont nav .h-log {
  background-color: #fff;
  border-color: #dadce0;
  color: #1a73e8;
}

header .header-cont nav .h-log:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1f3f4;
  border-color: #8ab4f8;
  color: #174ea6;
}

.title {
  font-size: 6.4rem;
  line-height: 7.4rem;
  color: #202124;
  font-family: "Google Sans","Roboto",Arial,sans-serif;
  font-weight: 500;
}
/*# sourceMappingURL=estilo.css.map */